.form-block {
    height: 200px;
}

.form-block form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#results {
    display: none;
    width: 220px;
    margin: auto;
    border: solid 1px #000;
    margin-top: 15px;
}

#results p {
    padding: 0px 10px;
}